body {
	background: url('felt.png');
	color: white;
	padding: 25px;
	padding-top: 0px;
}

h1 {
	font-family: Oswald, sans-serif;
	font-size: 4em;

}

a.download-button {
  text-decoration: none;
  color: white;
  float: right;
}

p {
	font-family: 'PT Sans', sans-serif;
	line-height: 150%;
}
.control-panel {
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  color: #000;
  background-color: #ccc;
  font-family: Oswald, sans-serif;
  position: relative;
  height: 50px;
  border: 2px solid black;
  background-color: rgba(255,255,255,0.2);
}

.control-panel-label {
  display: inline-block;
  width: 60px;
  text-align: center;
  vertical-align: middle;
}

.control-panel-input {
  width: 40px;
  display: inline-block;
  padding: 12px;
  vertical-align: middle;
  text-align: center;
  border-radius: 5px;
  font-size: 1em;
  border: 1px solid black;
}

.control-panel .on-off-group {
  position: absolute;
  left: 10px;
}
.control-panel .on-off-group .control-panel-label {
  vertical-align: top;
  padding-top: 15px;
  margin-right: 5px;
}

.control-panel .heading-group {
  position: absolute;
  left: 50%;
  width: 150px;
  font-size: 1.8em;
  text-align: center;
  margin-left: -75px;
  font-weight: 300;
}

.control-panel .spec-group {
  position: absolute;
  right: 10px;
}

/**
 * Toggle button rules
 **/

 .tgl {
  display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
  box-sizing: border-box;
}
.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
  background: none;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
  background: none;
}
.tgl + .tgl-btn {
  outline: 0;
  display: inline-block;
  width: 7em;
  height: 3em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 45%;
  height: 100%;
}
.tgl + .tgl-btn:after {
  left: 0;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  left: 55%;
}

.tgl-ios + .tgl-btn {
  background: rgba(255,255,255,0.1);
  border-radius: 0.5em;
  padding: 2px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
//  border: 1px solid #e8eae9;
}
.tgl-ios + .tgl-btn:after {
  border-radius: 0.5em;
  background: #fafafa;
  -webkit-transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
}
.tgl-ios + .tgl-btn:hover:after {
  will-change: padding;
}
.tgl-ios + .tgl-btn:active {
  box-shadow: inset 0 0 0 2em #e8eae9;
}
.tgl-ios + .tgl-btn:active:after {
  padding-right: .8em;
}
.tgl-ios:checked + .tgl-btn {
  background: rgba(59,89,152,0.8)
}
.tgl-ios:checked + .tgl-btn:active {
  box-shadow: none;
}
.tgl-ios:checked + .tgl-btn:active:after {
  margin-left: -.8em;
}